.tabsList {
	align-items: center;
	padding: 2rem 0 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	width: 100%;
}

.trigger {
	background: none;
	border: transparent;
	color: var(--colorForeground);
	cursor: pointer;
	font-size: var(--fontSizeMedium);
	line-height: 0.75;
}

.active {
	color: var(--colorEmphasized);
}

.trigger:not(.active):not(:hover)::after {
	opacity: 0;
}

@media (min-width: 700px) {
	.tabsList {
		flex-direction: row;
		padding: 0 0 2rem;
	}
}
