.top {
	margin-top: 1.5rem;
}

.top::after {
	border-bottom: 1px solid var(--colorSubtle);
	content: "";
	display: block;
	margin-bottom: 1.5rem;
	width: 100%;
}

.article {
	display: flex;
	flex-direction: column;
	font-size: 1.35rem;
	gap: 1rem;
	font-weight: 300;
	line-height: 1.5;
}

.article a {
	text-decoration: underline;
}

.article h2,
.article h3 {
	scroll-margin-top: 7.5rem;
}

.article h2 {
	margin-top: 2rem;
}

.article h3 {
	margin-top: 1rem;
}

.article code {
	font-size: 0.9em;
}

.article pre {
	border: 1px solid var(--colorSubtle);
	font-size: 0.9em;
	line-height: 1.25;
	margin: 0;
	overflow-x: auto;
	padding: 1rem 1.5rem;
	tab-size: 4;
}

.article blockquote {
	--blockBorderWidth: 6px;
	font-style: italic;
	margin-left: 0;
	padding-left: calc(2rem - var(--blockBorderWidth));
	position: relative;
}

.article blockquote::before {
	content: "";
	display: block;
	position: absolute;
	width: var(--blockBorderWidth);
	height: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(
		to bottom,
		var(--colorEmphasized),
		var(--colorForeground)
	);
}

.article ul {
	margin: 0;
}

.article li + li {
	margin-top: 0.5rem;
}

@media (min-width: 700px) {
	.top {
		/* margin-top: clamp(5rem, 10vw, 10rem); */
	}

	.top::after {
		margin: clamp(1.25rem, 2.5vw, 2.5rem) 0 clamp(1rem, 2vw, 2rem);
	}
}

@media (min-width: 1017px) {
	.hero {
		max-width: calc(var(--widthSlim) + 4rem);
	}

	.top {
		/* margin-top: 10rem; */
	}

	.top::after {
		width: calc(100% - var(--widthTableOfContents));
	}

	.article {
		max-width: calc(var(--widthSlim) + 4rem);
		margin: 0 var(--widthTableOfContents) 0 0;
	}
}
