.top {
	margin-bottom: clamp(1.25rem, 2.5vw, 2.5rem);
	padding-bottom: clamp(1rem, 2vw, 2rem);
}

.top::after {
	content: "";
	display: block;
	width: calc(100% - var(--widthTableOfContents));
	border-bottom: 1px solid var(--colorSubtle);
}

.article {
	display: flex;
	flex-direction: column;
	font-size: 1.35rem;
	gap: 1rem;
	font-weight: 300;
	line-height: 1.5;
	max-width: calc(var(--widthSlim) + 4rem);
}

.article a {
	text-decoration: underline;
}

.article h2 {
	margin-top: 2rem;
}

.article h3 {
	margin-top: 1rem;
}

.article code {
	font-size: 0.9em;
}

.article pre {
	border: 1px solid var(--colorSubtle);
	font-size: 0.9em;
	line-height: 1.25;
	margin: 0;
	overflow-x: auto;
	padding: 1rem 1.5rem;
	tab-size: 4;
}

.article blockquote {
	--blockBorderWidth: 6px;
	font-style: italic;
	margin-left: 0;
	padding-left: calc(2rem - var(--blockBorderWidth));
	position: relative;
}

.article blockquote::before {
	content: "";
	display: block;
	position: absolute;
	width: var(--blockBorderWidth);
	height: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(
		to bottom,
		var(--colorEmphasized),
		var(--colorForeground)
	);
}

.article ul {
	margin: 0;
}

@media (min-width: 1071px) {
	.article {
		margin: 0 var(--widthTableOfContents) 0 0;
	}
}
