---
import BodyContents from "../components/BodyContents.astro";
import Hero from "../components/Hero.astro";
import HeroSecondary from "../components/HeroSecondary.astro";
import { Squiggly } from "../components/Squiggly";
import { Text } from "../components/Text";
import BaseLayout from "../layouts/BaseLayout.astro";

const socials = [
	["bsky", "https://bsky.app/profile/joshuakgoldberg.com", "/icons/bsky.svg"],
	["GitHub", "https://github.com/JoshuaKGoldberg", "/icons/github.svg"],
	["Mastodon", "https://fosstodon.org/@JoshuaKGoldberg", "/icons/mastodon.svg"],
	["Twitch", "https://twitch.tv/JoshuaKGoldberg", "/icons/twitch.svg"],
	["Twitter", "https://twitter.com/JoshuaKGoldberg", "/icons/twitter.svg"],
	["YouTube", "https://youtube.com/@JoshuaKGoldberg", "/icons/youtube.svg"],
] as const;
---

<BaseLayout>
	<Hero
		class="hero"
		image={{
			dark: "/images/josh-dark.webp",
			light: "/images/josh-light.webp",
		}}
		primary="Hi! I'm Josh."
	>
		<HeroSecondary>
			I'm an open source maintainer
			<br />
			in the TypeScript ecosystem.
		</HeroSecondary>
		<Text as="p" class="socials" fontSize="smaller" fontWeight="light">
			{
				socials.map(([alt, href, src]) => (
					<a class="social" href={href} target="_blank">
						<img alt={alt} class="logo" src={src} />
						<Squiggly as="span" fontSize="smaller" variant="onHover">
							{alt}
						</Squiggly>
					</a>
				))
			}
		</Text>
	</Hero>
	<BodyContents class="about">
		<Text as="p" fontSize="medium" fontWeight="light">
			I work to make web development better, most notably on typescript-eslint:
			<br class="tabletUp" />
			the tooling that lets ESLint and Prettier run on TypeScript code. 
		</Text>
		<Text as="p" fontSize="medium" fontWeight="light">
			I’m the author of Learning TypeScript (O’Reilly), a Microsoft MVP,
			<br class="tabletUp" />
			an international conference speaker, a mentor, and a live code streamer.
		</Text>
	</BodyContents>
</BaseLayout>

<style>
	.socials {
		display: flex;
		flex-wrap: wrap;
		gap: 0.75rem 1rem;
		max-width: 20rem;
		margin: 1rem auto 0;
		justify-content: center;
	}

	.social {
		display: flex;
		gap: 0.5rem;
		align-items: center;
	}

	.logo {
		height: 1.25rem;
		width: 1.25rem;
	}


	.tabletUp {
		display: none;
	}

	@media (prefers-color-scheme: dark) {
		.socials img {
			filter: invert() hue-rotate(180deg);
		}
	}

	.about {
		display: flex;
		gap: 2rem;
		flex-direction: column;
		margin: 2rem 1rem 1rem;
		text-align: center;
	}

	@media (min-width: 700px) {
		.socials {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-template-rows: auto auto;
			margin-left: 0;
		}
		
		.tabletUp {
			display: block;
		}

		.about {
			margin-top: 3.5rem;
		}
	}	
</style>
