---
import HeaderLinks from "../components/HeaderLinks.astro";
import Hero from "../components/Hero.astro";
import { Squiggly } from "../components/Squiggly";
import { Text } from "../components/Text";
import BaseLayout from "../layouts/BaseLayout.astro";

const socials = [
	["GitHub", "https://github.com/JoshuaKGoldberg", "/icons/github.svg"],
	["Mastodon", "https://fosstodon.org/@JoshuaKGoldberg", "/icons/mastodon.svg"],
	["Twitch", "https://twitch.tv/JoshuaKGoldberg", "/icons/twitch.svg"],
	["Twitter", "https://twitter.com/JoshuaKGoldberg", "/icons/twitter.svg"],
	["YouTube", "https://youtube.com/@JoshuaKGoldberg", "/icons/youtube.svg"],
] as const;
---

<BaseLayout>
	<Hero
		class="hero"
		image={{
			dark: "/images/me-cat-dark.png",
			light: "/images/me-cat-light.png",
		}}
		size="large"
	>
		<Text as="h1" class="h1" fontSize="title-primary" fontWeight="bolder">
			Hi! I'm <Squiggly
				as="span"
				align="right"
				client:load
				info="That's me!"
				staticContent
				title="Josh"
			/>.
		</Text>
		<Text as="p" class="subtitle" fontSize="subtitle" fontWeight="bold">
			I'm an open source maintainer
			<br />
			in the TypeScript ecosystem.
		</Text>
		<div class="socials">
			{
				socials.map(([alt, href, src]) => (
					<a href={href}>
						<img alt={alt} src={src} />
					</a>
				))
			}
		</div>
	</Hero>
	<div class="about">
		<Text as="h2" fontSize="large" fontWeight="bolder">About</Text>
		<Text as="p" fontSize="medium" fontWeight="light">
			I work to make web development better,
			<br />
			most notably on typescript-eslint: the tooling
			<br />
			that lets ESLint and Prettier run on TypeScript code.
		</Text>
		<Text as="p" fontSize="medium" fontWeight="light">
			I’m the author of Learning TypeScript (O’Reilly),
			<br />
			a Microsoft MVP for developer technologies,
			<br />
			and an active conference speaker.
		</Text>
		<HeaderLinks class="links" />
	</div>
</BaseLayout>

<style>
	.h1 {
		line-height: 0.85;
		margin-bottom: 4rem;
	}

	.subtitle {
		margin: 1.75rem 0;
	}

	br {
		display: none;
	}

	.socials {
		display: flex;
		gap: 1rem;
		justify-content: center;
	}

	@media (prefers-color-scheme: dark) {
		.socials img {
			filter: invert() hue-rotate(180deg);
		}
	}

	.about {
		display: flex;
		gap: 2rem;
		flex-direction: column;
		margin: auto;
		padding: 1rem 2rem;
		text-align: center;
	}

	.links {
		font-size: var(--fontSizeMedium);
		margin: 1rem auto 0;
		padding: 0 2rem;
	}

	@media (min-width: 819px) {
		.h1 {
			margin-bottom: 1rem;
		}

		br {
			display: initial;
		}
	}
</style>
