---
import { Squiggly } from "../components/Squiggly";
import { Text } from "../components/Text";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout class="sponsor">
	<Squiggly
		as="h1"
		align="left"
		class="h1"
		client:load
		fontSize="title-primary"
		fontWeight="bolder"
		info="I really despise asking for money, but the bills don't pay themselves..."
		title="Please sponsor me. 💙"
	/>
	<Text as="p" class="subtitle" fontSize="medium">
		I’m a full time independent open source maintainer.<br />
		That means I rely on sponsors to support my work.
	</Text>
	<Text as="p" class="subtitle" fontSize="medium">
		If you or your company uses any project I work on,<br />
		please consider supporting me financially.
	</Text>
	<Text as="p" class="subtitle" fontSize="medium">
		Doing so makes ensures I can continue to work.
		<br />
		As thanks, I’ll put your info here and in my GitHub profile.
	</Text>
	<div class="ctas">
		<Text
			as="a"
			class="cta large"
			fontSize="subtitle"
			fontWeight="bolder"
			href="https://github.com/sponsors/JoshuaKGoldberg"
		>
			GitHub Sponsors
		</Text>
		<Text
			as="a"
			class="cta"
			fontSize="subtitle"
			fontWeight="bolder"
			href="https://opencollective.com/typescript-eslint"
		>
			typescript-eslint Open Collective
		</Text>
	</div>
</BaseLayout>

<style>
	.sponsor {
		text-align: center;
	}

	.h1 {
		margin: 4rem 0;
	}

	.subtitle {
		margin: 1.75rem auto;
	}

	.ctas {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		margin-top: 4rem;
	}

	.cta::after {
		content: "↗";
	}
</style>
