.contentEntry {
	display: flex;
	gap: 1rem;
}

.contents {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 0.15rem;
}

.description {
	margin: 0.75rem 0 0.5rem;
}

.title + .description {
	margin-top: 0;
}

.links {
	display: flex;
	gap: 0.5rem;
}

.anchorLarger {
	margin-top: 0.5rem;
}

@media (min-width: 700px) {
	.contentEntry:not(.widthsFull) {
		width: calc(50% - 1.5rem);
	}
}

@media (min-width: 1017px) {
	.contentEntry.widthsThird {
		width: calc(32% - 1.5rem);
	}
}
