.externalLinks {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 2rem;
}

.externalLink::after {
	content: "↗";
}

@media (min-width: 819px) {
	.externalLinks {
		flex-direction: row;
	}
}
