---
import { Text } from "./Text";
---

<Text as="footer" fontSize="smaller" fontWeight="light">
	Made with 💖 in Philadelphia
	<br />
	using Astro, Solid, and TypeScript.
	<small>
		<a
			href="https://github.com/JoshuaKGoldberg/joshuakgoldberg-dot-com-next"
			target="_blank"
		>
			view source
		</a>
	</small>
</Text>

<style>
	footer {
		opacity: 0.75;
		padding: 2.5rem 1rem 2rem;
		text-align: center;
		justify-self: flex-end;
	}

	small {
		display: block;
		margin-top: 0.5rem;
	}

	@media (min-width: 819px) {
		footer {
			padding: 5rem 1rem 2rem;
		}
	}
</style>
