---
const links = [
  ["Blog", "/blog"],
  ["Book", "https://learningtypescript.com"],
  ["Projects", "/projects"],
  ["Speaking", "/speaking"],
  ["Sponsor", "/sponsor"],
  // todo
];
---

<header>
  <a href="/">Josh Goldberg</a>
  <div class="links">
    {
      links.map(([text, href]) => (
        <a
          class:list={["link", href === Astro.url.pathname && "current"]}
          href={href}
        >
          {text}
        </a>
      ))
    }
  </div>
</header>

<style>
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 1rem;
    justify-content: space-between;
    margin: auto;
    max-width: var(--mainWidth);
    padding: 1rem 2rem;
    width: 100%;
  }

  .links {
    display: flex;
    gap: 1rem;
  }

  @media (min-width: 819px) {
    header {
      flex-direction: row;
    }
  }
</style>
