---
import { Text } from "./Text";
import HeaderLink from "./HeaderLink.astro";

const links = [
	[
		"Blog",
		"https://blog.joshuakgoldberg.com",
	],
	[
		"Book",
		"https://learningtypescript.com",
	],
	["Projects", "/projects", "Assorted project work also seen on my GitHub."],
	[
		"Speaking",
		"/speaking",
	],
] as const;
---

<Text as="header" class="header" fontWeight="bold">
	<HeaderLink href="/">Josh Goldberg</HeaderLink>
	<div class="links">
		{
			links.map(([text, href]) => {
				return (
					<HeaderLink	href={href}>
						{text}
					</HeaderLink>
				);
			})
		}
	</div>
</Text>

<style>
	header {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem 3.5rem;
		justify-content: center;
		padding: 2rem;
		width: 100%;
    	font-size: var(--fontSizeMedium);
		text-align: center;
	}

	.links {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0 1rem;
		justify-content: center;
	}

	@media (min-width: 700px) {
		header {
			gap: 1.5rem;
			justify-content: space-between;
		}

		.links {
			gap: 1.5rem;
			justify-content: space-between;
		}
	}

	@media (min-width: 1017px) {
		header {
			padding: 2rem 0;
		}

	}
</style>
