---
import { SquigglyIfActive } from "./SquigglyIfActive";

const links = [
	["Blog", "/blog", "The blog formerly known as 'Goldblog'."],
	[
		"Book",
		"https://learningtypescript.com",
		"Buy my book on TypeScript! Do it! Buy it! Now!",
	],
	["Projects", "/projects", "Assorted project work also seen on my GitHub."],
	[
		"Speaking",
		"/speaking",
		"I don't know why people pay money to hear me speak. It's weird.",
	],
	["Sponsor", "/sponsor", "Please give me money?"],
] as const;

export interface Props {
	class?: string;
}
---

<div class:list={["links", Astro.props.class]}>
	{
		links.map(([text, href, info]) => (
			<SquigglyIfActive
				active={Astro.url.pathname.startsWith(href)}
				as="a"
				align="right"
				class="link"
				href={href}
				fontWeight="bolder"
				info={info}
				{...(href.startsWith("http") && { target: "_blank" })}
				title={text}
			/>
		))
	}
</div>

<style>
	@layer base, links;

	@layer links {
		.links {
			display: flex;
			gap: 1.5rem;
		}
	}
</style>
