---
import HeaderLink from "./HeaderLink.astro";
import { Text } from "./Text";
import ThemeToggle from "./ThemeToggle.astro";

const links = [
	["Book", "https://learningtypescript.com"],
	["Blog", "/blog"],
	["Projects", "/projects"],
	["Speaking", "/speaking"],
] as const;
---

<div class="fader" role="presentation"></div>
<Text as="header" class="header" fontWeight="bold">
	<div class="first">
		<HeaderLink href="/">Josh Goldberg</HeaderLink>
		<ThemeToggle />
	</div>
	<div class="links">
		{
			links.map(([text, href]) => {
				return <HeaderLink href={href}>{text}</HeaderLink>;
			})
		}
	</div>
</Text>

<style>
	header {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem 3.5rem;
		justify-content: space-between;
		padding: 2rem var(--widthPagePadding);
		position: relative;
		width: 100%;
	}

	.first {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.links {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0 1rem;
	}

	@media (min-width: 700px) {
		header {
			gap: 1.5rem;
			justify-content: space-between;
			max-width: calc(var(--widthFull) - 1rem);
			position: fixed;
			z-index: 1;
		}

		header::after,
		header::before {
			--horizontalBlur: -3.5rem;
			bottom: -1rem;
			content: "";
			filter: blur(1rem);
			left: var(--horizontalBlur);
			pointer-events: none;
			position: absolute;
			right: var(--horizontalBlur);
		}

		header::after {
			backdrop-filter: blur(20px);
			mask-image: linear-gradient(to bottom, black 50%, transparent);
			top: 0;
			z-index: -1;
		}

		header::before {
			background:
				radial-gradient(
						ellipse at top,
						var(--colorBackgroundTop) 0,
						transparent 100vh
					)
					no-repeat,
				radial-gradient(
						ellipse at top,
						var(--colorBackgroundTop) 0,
						transparent 100vh
					)
					no-repeat;
			content: "";
			top: -1.5rem;
		}

		.fader {
			background: linear-gradient(
				to bottom,
				var(--colorBackgroundTop),
				transparent 70%
			);
			height: var(--heightMinimumFromHeader);
			left: 5vw;
			pointer-events: none;
			position: fixed;
			right: 5vw;
			top: 0;
			user-select: none;
			mask-image: linear-gradient(
				to right,
				transparent 0%,
				white 10%,
				white 90%,
				transparent 100%
			);
			z-index: 1;
		}

		.first {
			flex-grow: 100;
			padding-right: 4rem;
			position: relative;
			width: initial;
		}

		.first::after {
			background: var(--colorForeground);
			content: "";
			display: block;
			height: 0.7rem;
			position: absolute;
			right: 1.5rem;
			top: 0.5rem;
			width: 1px;
		}

		.links {
			position: relative;
			gap: 1.5rem;
			justify-content: space-between;
		}
	}

	@media (min-width: 1017px) {
		header {
			padding: 2rem 0;
		}
	}
</style>
