---
import { SquigglyIfActive } from "./SquigglyIfActive";

const links = [
	[
		"Blog",
		"https://blog.joshuakgoldberg.com",
		"The blog currently known as 'Goldblog'.",
	],
	[
		"Book",
		"https://learningtypescript.com",
		"Buy my book on TypeScript! Do it! Buy it! Now!",
	],
	["Projects", "/projects", "Assorted project work also seen on my GitHub."],
	[
		"Speaking",
		"/speaking",
		"Conferences, meetups, podcasts, and more.",
	],
	["Sponsor", "/sponsor", "Help open source continue to grow."],
] as const;

export interface Props {
	class?: string;
}
---

<div class:list={["links", Astro.props.class]}>
	{
		links.map(([text, href, info]) => (
			<SquigglyIfActive
				active={Astro.url.pathname.startsWith(href)}
				as="a"
				align="right"
				class="link"
				href={href}
				fontWeight="bolder"
				info={info}
				{...(href.startsWith("http") && { target: "_blank" })}
				title={text}
			/>
		))
	}
</div>

<style>
	@layer base, links;

	@layer links {
		.links {
			display: flex;
			gap: 0.5rem 1.5rem;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
	}
</style>
