---
import HeaderLink from "./HeaderLink.astro";
import { Text } from "./Text";

const links = [
	["Blog", "/blog"],
	["Book", "https://learningtypescript.com"],
	["Projects", "/projects"],
	["Speaking", "/speaking"],
] as const;
---

<Text as="header" class="header" fontWeight="bold">
	<HeaderLink href="/">Josh Goldberg</HeaderLink>
	<div class="links">
		{
			links.map(([text, href]) => {
				return <HeaderLink href={href}>{text}</HeaderLink>;
			})
		}
	</div>
</Text>

<style>
	header {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem 3.5rem;
		justify-content: space-between;
		padding: 2rem;
		width: 100%;
	}

	.links {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0 1rem;
		/* justify-content: center; */
	}

	@media (min-width: 700px) {
		header {
			gap: 1.5rem;
			justify-content: space-between;
			max-width: calc(var(--widthFull) - 1rem);
			position: fixed;
			z-index: 1;
		}

		header::after,
		header::before {
			--horizontalBlur: -3.5rem;
			bottom: -1rem;
			content: "";
			filter: blur(1rem);
			left: var(--horizontalBlur);
			pointer-events: none;
			position: absolute;
			right: var(--horizontalBlur);
		}

		header::after {
			backdrop-filter: blur(20px);
			mask-image: linear-gradient(to bottom, black 50%, transparent);
			top: 0;
			z-index: -1;
		}

		header::before {
			background: radial-gradient(
						ellipse at top,
						var(--colorBackgroundTop) 0,
						transparent 100vh
					)
					no-repeat,
				radial-gradient(
						ellipse at top,
						var(--colorBackgroundTop) 0,
						transparent 100vh
					)
					no-repeat;
			content: "";
			top: -1.5rem;
		}

		.links {
			gap: 1.5rem;
			justify-content: space-between;
		}
	}

	@media (min-width: 1017px) {
		header {
			padding: 2rem 0;
		}
	}
</style>
