---
import { RemoveIfActive } from "./RemovefActive";

const links = [
	[
		"Blog",
		"https://blog.joshuakgoldberg.com",
	],
	[
		"Book",
		"https://learningtypescript.com",
	],
	["Projects", "/projects", "Assorted project work also seen on my GitHub."],
	[
		"Speaking",
		"/speaking",
	],
] as const;

export interface Props {
	class?: string;
}
---

<div class:list={["links", Astro.props.class]}>
	{
		links.map(([text, href]) => (
			<RemoveIfActive
				active={Astro.url.pathname.startsWith(href)}
				as="a"
				class="link"
				href={href}
				fontWeight="bolder"
				{...(href.startsWith("http") && { target: "_blank" })}
			>
				{text}
			</RemoveIfActive>
		))
	}
</div>

<style>
	@layer base, links;

	@layer links {
		.links {
			display: flex;
			gap: 1.5rem;
		}
	}
</style>
