---
import clsx from "clsx";

import { Text } from "./Text";

const links = [
	["Blog", "/blog"],
	["Book", "https://learningtypescript.com"],
	["Projects", "/projects"],
	["Speaking", "/speaking"],
	["Sponsor", "/sponsor"],
] as const;

export interface Props {
	class?: string;
}
---

<div class:list={["links", Astro.props.class]}>
	{
		links.map(([text, href]) => (
			<Text
				as="a"
				class={clsx(["link", Astro.url.pathname.startsWith(href) && "current"])}
				href={href}
				fontWeight="bolder"
				{...(href.startsWith("http") && { target: "_blank" })}
			>
				{text}
			</Text>
		))
	}
</div>

<style>
	@layer base, links;

	@layer links {
		.links {
			display: flex;
			gap: 1.5rem;
		}

		.current {
			color: var(--colorEmphasized);
			text-decoration: var(--textDecorationWavy);
		}
	}
</style>
