@keyframes fadeIn {
	from {
		filter: blur(3px);
		opacity: 0;
	}
	to {
		filter: none;
		opacity: 1;
	}
}

:global(.javascriptEnabled) .heroImage:not(.heroImageLoaded) {
	opacity: 0;
}

.heroImageLoaded {
	animation: var(--transitionMedium) fadeIn;
}

.heroImage,
.heroImage :is(img, source) {
	view-transition-name: none;

	height: var(--imageSize);
	width: var(--imageSize);
}

.heroImage.small {
	--imageSize: var(--heroSizeSmall);
}

.heroImage.large {
	--imageSize: var(--heroSizeLarge);
}

.heroImage img {
	display: block;
	border-radius: 100%;
	box-shadow: 0 3px 7px 3px var(--colorSubtle);
	user-select: none;
}

@media (min-width: 700px) {
	.heroImage img {
		max-height: 100%;
		max-width: 100%;
		box-shadow: 0 3px 14px 0 var(--colorSubtle);
	}
}
