@keyframes fadeIn {
	from {
		filter: blur(3px);
		opacity: 0;
	}
	to {
		filter: none;
		opacity: 1;
	}
}

:global(.javascriptEnabled) .heroImage:not(.heroImageLoaded) {
	opacity: 0;
}

.heroImageLoaded {
	animation: var(--transitionMedium) fadeIn;
}

.heroImage,
.heroImage :is(img, source) {
	view-transition-name: none;

	height: var(--imageSize);
	width: var(--imageSize);
}

.heroImage.small {
	--imageSize: clamp(4rem, 12vmin, 8rem);
}

.heroImage.large {
	--imageSize: clamp(4rem, 20vmin, 10rem);
}

.heroImage img {
	display: block;
	border-radius: 100%;
	box-shadow: 0 3px 7px 3px var(--colorSubtle);
	user-select: none;
}

@media (min-width: 700px) {
	.heroImage.small {
		--imageSize: 128px;
	}

	.heroImage.large {
		--imageSize: clamp(12rem, 32vw, 16rem);
	}

	.heroImage img {
		max-height: 100%;
		max-width: 100%;
		box-shadow: 0 3px 14px 0 var(--colorSubtle);
	}
}

@media (min-width: 1017px) {
	.heroImage.large {
		--imageSize: 256px;
	}
}
