---
const sizes = {
	medium: "heroMedium",
	large: "heroLarge",
};

export interface Props {
	class?: string | undefined;
	image: string;
	size?: keyof typeof sizes;
}

const { class: className, image, size = "medium" } = Astro.props;
---

<div class:list={["hero", sizes[size], className]}>
	<div class="half first">
		<img alt="" src={image} />
	</div>
	<div class="half second">
		<slot />
	</div>
</div>

<style>
	.hero {
		display: flex;
		margin: auto;
		height: 30rem;
		position: relative;
		width: var(--widthFull);
	}

	.heroMedium {
		height: 20rem;
	}

	.heroLarge {
		height: 30rem;
	}

	img {
		display: none;
	}

	@media (min-width: 819px) {
		.hero {
			gap: 2rem;
			margin-top: 5rem;
		}

		.half {
			position: relative;
		}

		.half.first {
			display: flex;
			justify-content: flex-end;
			width: 45%;
		}

		.half.second {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 55%;
		}

		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}
</style>
