---
import HeroImage, { Props as HeroImageProps } from "./HeroImage.astro";
import HeroTitle from "./HeroTitle.astro";

interface Props {
	class?: string | undefined;
	image: HeroImageProps;
	primary: string;
}

---

<div class:list={["hero", Astro.props.class]}>
	<div class="half first">
		<HeroImage {...Astro.props.image} size="large">
	</div>
	<div class="half second">
		<HeroTitle>
			{Astro.props.primary}
		</HeroTitle>
		<slot />
	</div>
</div>

<style>
	.hero {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin: 1rem auto 4rem;
		padding: 0 1rem;
		position: relative;
		width: var(--widthFull);
		max-width: 100%;
		text-align: center;

		--imageSize: 10rem;
	}

	@media (min-width: 700px) {
		.hero {
			gap: 2.5rem;
			height: 35vh;
			min-height: calc(var(--imageSize) + 1rem);
			max-height: 20rem;
			flex-direction: row;
			margin: clamp(8.5rem, 10vh, 10rem) 0 clamp(4rem, 7vh, 12rem);
			padding: 0;
			text-align: left;
		}

		.half {
			position: relative;
		}

		.half.first {
			display: flex;
			justify-content: flex-end;
			max-height: initial;
			width: 45%;
		}

		.half.second {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			width: 55%;
		}
	}
</style>
