---
interface Props {
	class?: string | undefined;
	image: string;
}

const { class: className, image } = Astro.props;
---

<div class:list={["hero", className]}>
	<div class="half first">
		<div class="imgArea">
			<img alt="" src={image} />
		</div>
	</div>
	<div class="half second">
		<slot />
	</div>
</div>

<style>
	.hero {
		align-items: center;
		display: flex;
		margin: 3rem auto 4rem;
		position: relative;
		width: var(--widthFull);
		max-width: 100%;
		text-align: center;
	}

	.imgArea {
		display: none;
	}

	.second {
		width: 100%;
	}

	@media (min-width: 819px) {
		.hero {
			gap: 2.5rem;
			height: 20rem;
			margin: 3.5rem 0 2rem;
			text-align: left;
		}

		.half {
			position: relative;
		}

		.half.first {
			display: flex;
			justify-content: flex-end;
			width: 45%;
		}

		.half.second {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			width: 55%;
		}

		.imgArea {
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 100%;
			max-height: 100%;
			user-select: none;
		}

		img {
			border-radius: 100%;
			height: 256px;
			max-height: 100%;
			max-width: 100%;
			width: 256px;
			box-shadow: 0 7px 7px 3px var(--colorSubtle);
		}
	}
</style>
