---
import HeroImage, { type HeroImages } from "./HeroImage.astro";
import HeroTitle from "./HeroTitle.astro";

interface Props {
	alt: string;
	class?: string | undefined;
	images: HeroImages;
	primary: string;
}
---

<div class:list={["hero", Astro.props.class]}>
	<div class="half first">
		<HeroImage alt={Astro.props.alt} size="large" src={Astro.props.images} />
	</div>
	<div class="half second">
		<HeroTitle>
			{Astro.props.primary}
		</HeroTitle>
		<slot />
	</div>
</div>

<style>
	.hero {
		margin: clamp(2rem, 8vmin, 8rem) auto;
		padding: 0 var(--widthPagePadding) 1rem;
		position: relative;
		width: var(--widthFull);
		max-width: 100%;
	}

	.first {
		float: right;
	}

	@media (min-width: 700px) {
		.hero {
			align-items: center;
			display: flex;
			gap: 2.5rem;
			height: 35vh;
			flex-direction: row;
			margin: clamp(8.5rem, 10vh, 10rem) 0 clamp(5rem, 10vh, 14rem);
			padding: 0;
		}

		.half {
			position: relative;
		}

		.half.first {
			display: flex;
			justify-content: flex-end;
			max-height: initial;
			width: 45%;
		}

		.half.second {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			width: 55%;
		}
	}
</style>
