---
import { Squiggly } from "../components/Squiggly";
import { Text } from "../components/Text";
import { SocialImage } from "./SocialImage";

const socials = [
	["bsky", "https://bsky.app/profile/joshuakgoldberg.com", "/icons/bsky.svg"],
	["GitHub", "https://github.com/JoshuaKGoldberg", "/icons/github.svg"],
	["Mastodon", "https://fosstodon.org/@JoshuaKGoldberg", "/icons/mastodon.svg"],
	["Twitch", "https://twitch.tv/JoshuaKGoldberg", "/icons/twitch.svg"],
	["Twitter", "https://twitter.com/JoshuaKGoldberg", "/icons/twitter.svg"],
	["YouTube", "https://youtube.com/@JoshuaKGoldberg", "/icons/youtube.svg"],
] as const;
---

<Text as="p" class="socials" fontSize="smaller" fontWeight="light">
	{
		socials.map(([alt, href, src]) => (
			<a class="social" href={href} target="_blank">
				<SocialImage alt={alt} src={src} />
				<Squiggly as="span" fontSize="smaller" variant="onHover">
					{alt}
				</Squiggly>
			</a>
		))
	}
</Text>

<style>
	.socials {
		display: flex;
		flex-wrap: wrap;
		gap: 0.75rem 1rem;
		max-width: 20rem;
		margin: 1rem auto 0;
		justify-content: center;
	}

	.social {
		display: flex;
		gap: 0.5rem;
		align-items: center;
	}

	@media (min-width: 700px) {
		.socials {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-template-rows: auto auto;
			margin-left: 0;
		}
	}
</style>
