.list {
	list-style-type: none;
	padding: 0;
	gap: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	margin-bottom: 1.5rem;
	width: 100%;
}

@media (min-width: 700px) {
	.item {
		--maxWidthBase: 50%;
		max-width: calc(var(--maxWidthBase) - 1.5rem);
	}
}

@media (min-width: 819px) {
	.item {
		--maxWidthBase: 33%;
	}
}
