.squiggly {
	display: inline-block;
	position: relative;
}

.squiggly.smaller {
	--afterMarginTop: 0;
}

.squiggly.medium {
	--afterMarginTop: -0.2em;
}

.squiggly:not(.inactive)::after {
	background: url("/icons/squiggle.svg") repeat-x;
	background-size: contain;
	content: "";
	display: block;
	height: 0.25em;
	image-rendering: smooth;
	margin-top: var(--afterMarginTop);
	opacity: 0;
	position: absolute;
	transition: 280ms opacity;
	width: 100%;
}

.squiggly:is(.alwaysActive, :focus, :hover):not(.inactive)::after {
	opacity: 1;
}
