.squiggly {
	display: inline-block;
	position: relative;
}

.squiggly.smaller {
	--afterMarginTop: 0;
}

.squiggly.medium {
	--afterMarginTop: -0.2em;
}

.squiggly:not(.inactive)::after {
	background: var(--squiggle) repeat-x;
	background-size: contain;
	content: "";
	display: block;
	height: 0.25em;
	image-rendering: smooth;
	margin-top: var(--afterMarginTop);
	opacity: 0;
	position: absolute;
	transition:
		var(--transitionMedium) filter,
		var(--transitionMedium) opacity,
		var(--transitionMedium) transform;
	width: 100%;
}

.squiggly.passive::after {
	filter: blur(0.7px) opacity(0.7);
}

.squiggly:is(.alwaysActive, .passive, :focus-visible, :hover):not(
		.inactive
	)::after {
	opacity: 1;
}
