.squiggly {
	display: inline-block;
	position: relative;
}

.squiggly::after {
	background-image: url("/icons/squiggle.svg");
	background-size: contain;
	content: "";
	display: block;
	height: 0.35em;
	image-rendering: smooth;
	margin-top: -0.25rem;
	position: absolute;
	width: 100%;
}
