.root {
	font-weight: var(--fontWeightBold);
	margin: 3.5rem 0;
}

.list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

button {
	background: none;
	border: none;
	font-size: var(--fontSizeMedium);
	font-weight: var(--fontWeightBold);
	cursor: pointer;
	color: var(--colorForeground);
	margin: 0 1rem;
}
