.text {
	color: var(--colorForeground);
	transition: var(--transitionMedium) color;
}

.fontSizeSmaller {
	font-size: var(--fontSizeSmaller);
}

.fontSizeSmall {
	font-size: var(--fontSizeSmall);
}

.fontSizeMedium {
	font-size: var(--fontSizeMedium);
}

.fontSizeLarge {
	font-size: var(--fontSizeLarge);
}

.fontSizeSubtitle {
	font-size: var(--fontSizeSubtitle);
}

.fontSizeTitle {
	font-size: var(--fontSizeTitle);
}

.fontWeightLight {
	font-weight: var(--fontWeightLight);
	text-rendering: optimizeLegibility;
}

.fontWeightNormal {
	font-weight: var(--fontWeightNormal);
	text-rendering: geometricPrecision;
}

.fontWeightBold {
	font-weight: var(--fontWeightBold);
	text-rendering: geometricPrecision;
}

.fontWeightBolder {
	font-weight: var(--fontWeightBolder);
	text-rendering: geometricPrecision;
}
