<div class="theme-buttons">
	<button
		aria-label="Theme toggle (enable JavaScript to use)"
		class="theme-button"
		id="themeToggle"
	>
	</button>
	<button
		aria-label="Clear theme preference (enable JavaScript to use)"
		class="theme-button"
		id="themeClear"
	>
		✖
	</button>
</div>

<script is:inline>
	const clear = () => document.getElementById("themeClear");
	const html = () => document.documentElement;
	const toggle = () => document.getElementById("themeToggle");

	function getThemePreference() {
		return matchMedia("(prefers-color-scheme: dark)").matches
			? "dark"
			: "light";
	}

	/**
	 * @param {string} newTheme
	 */
	function updateElementsForTheme(newTheme) {
		if (newTheme === "light") {
			html().classList.remove("dark");
		} else {
			html().classList.add("dark");
		}

		toggle().setAttribute("aria-label", `Theme toggle (current: ${newTheme})`);
	}

	function initialize() {
		const startingTheme =
			typeof localStorage !== "undefined" && localStorage.getItem("theme");

		if (startingTheme) {
			clear().classList.add("clear-active");
		}

		const theme = startingTheme ?? getThemePreference();

		updateElementsForTheme(theme);

		clear().addEventListener("click", () => {
			localStorage.removeItem("theme");
			clear().classList.remove("clear-active");
			updateElementsForTheme(getThemePreference());
		});

		toggle().addEventListener("click", () => {
			clear().classList.add("clear-active");

			const newTheme = html().classList.contains("dark") ? "light" : "dark";
			updateElementsForTheme(newTheme);
			localStorage.setItem("theme", newTheme);
		});
	}

	initialize();

	document.addEventListener("astro:after-swap", initialize);
</script>

<style>
	.theme-buttons {
		position: relative;
	}

	.theme-button {
		background: none;
		border: transparent;
		cursor: pointer;
	}

	#themeToggle {
		font-size: 1.5rem;
		height: 2rem;
		position: relative;
		width: 2.25rem;
	}

	#themeToggle::after,
	#themeToggle::before {
		display: block;
		top: 0;
		position: absolute;
		transform-origin: bottom center;
		transition:
			var(--transitionMedium) opacity,
			var(--transitionMedium) transform;
	}

	#themeToggle::after {
		content: "🌞";
	}

	#themeToggle::before {
		content: "🌝";
	}

	html.dark #themeToggle::after {
		transform: rotate(90deg);
		opacity: 0;
	}

	html:not(.dark) #themeToggle::before {
		transform: rotate(-90deg);
		opacity: 0;
	}

	#themeClear {
		color: var(--colorForeground);
		position: absolute;
		right: -1rem;
		margin-top: 0;
		opacity: 1;
		transition:
			var(--transitionMedium) color,
			var(--transitionFast) margin-top,
			var(--transitionFast) opacity;
	}

	#themeClear:not(.clear-active) {
		opacity: 0;
		margin-top: 0.5rem;
		animation: 1s fadeOut;
		animation-fill-mode: forwards;
	}

	@keyframes fadeOut {
		99% {
			visibility: visible;
		}
		100% {
			visibility: hidden;
		}
	}
</style>
