.shares {
	align-items: baseline;
	display: inline-flex;
	gap: 1rem;
	margin: 0.5em 0 0;
}

.shares img {
	vertical-align: text-bottom;
}

@media (min-width: 700px) {
	.shares {
		margin: 0 0 -0.25em;
	}
}
