---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Joshypoo McSwaggins</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "NeutrafaceText";
    src: url("/fonts/NeutrafaceText.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  * {
    box-sizing: border-box;
    font-family: "NeutrafaceText";
  }

  :root {
    --var-mainWidth: 819px;
  }
</style>
