@layer base {
	:root {
		--colorBackgroundBottom: #fcffff;
		--colorBackgroundTop: #faffff;
		--colorEmphasized: #1170d0;
		--colorForeground: #142149;
		--colorForegroundExtra: #103237;
		--colorSubtle: #d7e9ef;

		--fontSizeSmaller: 1rem;
		--fontSizeSmall: 1.2rem;
		--fontSizeMedium: 1.5rem;
		--fontSizeLarge: 2rem;
		--fontSizeSubtitle: 1.75rem;
		--fontSizeTitle: 3.5rem;

		--fontWeightLight: 300;
		--fontWeightMedium: 500;
		--fontWeightBold: 600;
		--fontWeightBolder: 700;

		--textShadow: 3px 3px 1px var(--colorSubtle);

		--widthFull: 1000px;
	}

	html {
		background: var(--colorBackgroundBottom);
		scrollbar-gutter: stable;
	}

	body {
		background: linear-gradient(
					to bottom,
					transparent 70%,
					var(--colorBackgroundBottom) 100%
				)
				no-repeat,
			radial-gradient(
					ellipse at top,
					var(--colorBackgroundTop) 15%,
					var(--colorBackgroundBottom) 100%
				)
				no-repeat;
		line-height: 1.1;
		width: 100%;
	}

	body,
	button {
		font-family: "League SpartanVariable", sans-serif;
	}

	body,
	:link,
	:visited {
		color: var(--colorForeground);
		text-decoration: none;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--colorBackgroundBottom: #041010;
			--colorBackgroundTop: #071926;
			--colorEmphasized: #78b4f0;
			--colorForeground: #dae7f3;
			--colorForegroundExtra: #e5edf3;
			--colorSubtle: #052438;
		}
	}
}
