---
import "@fontsource/league-spartan/variable.css";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MainArea from "../components/MainArea.astro";

export interface Props {
	class?: string | undefined;
	title?: string;
}

const { class: className, title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			href="/favicon-dark.svg"
			media="(prefers-color-scheme: dark)"
			rel="icon"
			type="image/svg+xml"
		/>
		<link
			href="/favicon.svg"
			media="(prefers-color-scheme: light)"
			rel="icon"
			type="image/svg+xml"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `JG | ${title}` : "Josh Goldberg"}</title>
	</head>
	<MainArea as="body" class={className}>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</MainArea>

	<style is:global>
		@import "./normalize.css";
		@import "./base.css";
	</style>
</html>
