---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Joshypoo McSwaggins</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "NeutrafaceText";
    src: url("/fonts/NeutrafaceText.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  * {
    box-sizing: border-box;
    font-family: "NeutrafaceText";
  }

  :root {
    --mainWidth: 819px;

    --color-emphasized: #1170d0;
    --color-foreground: #082138;

    --font-size-medium: 1.5rem;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  body {
    background: linear-gradient(194.16deg, #F1FBFD -0.57%, #F3FFF9 89.93%);
  }

  @layer base {
    body, :link, :visited {
      color: var(--color-foreground);
      text-decoration: none;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-emphasized: #50a1f3;
      --color-foreground: #e2edf6;
    }

    body {
      background: linear-gradient(194.16deg, #0B2935 -0.57%, #051413 89.93%);
    }
  }
</style>
