@layer base {
	:root {
		--widthFull: 1000px;

		--colorBackgroundBottom: #fcffff;
		--colorBackgroundTop: #faffff;
		--colorEmphasized: #1170d0;
		--colorForeground: #082138;

		--fontSizeSmaller: 1rem;
		--fontSizeSmall: 1.25rem;
		--fontSizeMedium: 1.5rem;
		--fontSizeLarge: 2.5rem;
		--fontSizeSubtitle: 1.75rem;
		--fontSizeTitlePrimary: 4.5rem;
		--fontSizeTitleSecondary: 3.5rem;

		--fontWeightLight: 100;
		--fontWeightMedium: normal;
		--fontWeightBold: 500;
		--fontWeightBolder: 700;
	}

	html {
		background: var(--colorBackgroundBottom);
	}

	body {
		background: linear-gradient(
					to bottom,
					transparent 70%,
					var(--colorBackgroundBottom) 100%
				)
				no-repeat,
			radial-gradient(
					ellipse at top,
					var(--colorBackgroundTop) 15%,
					var(--colorBackgroundBottom) 100%
				)
				no-repeat;
		line-height: 1.1;
		width: 100%;
	}

	body,
	button {
		font-family: "League SpartanVariable", sans-serif;
	}

	body,
	:link,
	:visited {
		color: var(--colorForeground);
		text-decoration: none;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--colorBackgroundBottom: #010404;
			--colorBackgroundTop: #05111a;
			--colorEmphasized: #50a1f3;
			--colorForeground: #d3dfe9;
		}
	}
}
