---
import "@fontsource/league-spartan/variable.css";
import { SkipLinks } from "accessible-astro-components";

import Footer from "~/components/Footer.astro";
import Head from "~/components/Head.astro";
import Header from "~/components/Header.astro";
import MainArea from "~/components/MainArea.astro";

export interface Props {
	class?: string | undefined;
	description: string;
	slug: string;
	title?: string;
}

const { class: className, description, slug, title } = Astro.props;
---

<html lang="en">
	<Head description={description} image={`images/${slug}.png`} title={title} />
	<div id="#top"></div>
	<MainArea as="body" class={className}>
		<SkipLinks />
		<Header />
		<main id="main-content">
			<slot />
		</main>
		<Footer />
	</MainArea>

	<style is:global>
		@import "./normalize.css";
		@import "./base.css";
	</style>
	<style>
		main {
			position: relative;
		}
	</style>
</html>
