jobs:
  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/prepare
      - run: pnpm astro sync
      - run: pnpm tsc

name: Type Check

on:
  pull_request: ~

  push:
    branches:
      - main
